.contentcontainer{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(100% - 15rem);
    overflow: auto;
    text-align: center;
    padding: 1rem;
    overflow: auto;
}

.contentcontainer table{
    border: 3px ridge white;
    margin: auto;
    margin-top: 1rem;
}

.contentcontainer table th, .contentcontainer table td{
    border: 2px ridge white;
    padding: 0.25rem;
    vertical-align: middle;
}

.slotcontainer{
    text-align: center;
}

.slot{
    border: 3px outset white;
    margin: 0.25rem;
    padding: 0.25rem;
    display: inline-block;
    width: 8rem;
    height: 3rem;
    text-align: center;
    white-space: initial;
    vertical-align: top;
}

.sideslot{
    width: 9rem;
}

.sideslot .slot{
    display: block;
    margin: auto;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}